<template>
  <div class="loginPage">
    <div class="container">
      <div class="row">
        <div class="col-md-6 whiteBackground block" :class="{'moveWhiteBackground': move}">
          <div v-if="status === 'login'">
            <h3>會員登入</h3>
            <div class="form-group">
              <input v-model="userEmail" type="email" class="form-control" placeholder="Your Email *">
            </div>
            <div class="form-group">
              <input v-model="userPassword" type="password" class="form-control" placeholder="Your Password *">
            </div>
            <div class="form-group btnGoogle" @click.prevent="googleLogin">
              <i class="fab fa-google" />
              <div>Sign up with Google</div>
            </div>
            <div class="form-group">
              <button class="btn btnSubmit" @click.prevent="login">
                登入
              </button>
            </div>
          </div>
          <div v-if="status === 'signUp'">
            <h3>開始註冊</h3>
            <!-- <div class="form-group">
              <input v-model="userNickname" type="text" class="form-control" placeholder="Your Nickname *">
            </div> -->
            <div class="form-group">
              <input v-model="userEmail" type="email" class="form-control" placeholder="Your Email *">
            </div>
            <div class="form-group">
              <input v-model="userPassword" type="password" class="form-control" placeholder="Your Password *">
            </div>
            <div class="form-group btnGoogle" @click.prevent="googleLogin">
              <i class="fab fa-google" />
              <div>Sign in with Google</div>
            </div>
            <div class="form-group">
              <button class="btn btnSubmit" @click="signUp">
                註冊
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6 colorBackground block" :class="{'moveColorBackground': move}">
          <div v-if="status === 'signUp'">
            <h3>Welcome New Friend</h3>
            <div class="form-group">
              <button class="btn btnSubmit" @click="changeStatus('login')">
                去登入
              </button>
            </div>
          </div>
          <div v-if="status === 'login'">
            <h3>Welcome</h3>
            <div class="form-group">
              <button class="btn btnSubmit" @click="changeStatus('signUp')">
                去註冊
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  components: {
  },
  data() {
    return {
      status: 'login', // login or singUp
      userNickname: '',
      userEmail: '',
      userPassword: '',
      move: false,
    };
  },
  methods: {
    trimText(text) {
      const txt = text.trim();
      if (!txt) {
        return txt;
      }
      return txt;
    },
    login() {
      firebase.auth().signInWithEmailAndPassword(this.userEmail, this.userPassword).then((result) => {
        console.log('result:', result);
        this.userEmail = '';
        this.userPassword = '';
      }).catch((error) => {
        const errorMessage = error.message;
        console.log(errorMessage);
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: errorMessage,
        });
        this.userEmail = '';
        this.userPassword = '';
      });
    },
    signUp() {
      this.userNickname = this.trimText(this.userNickname);
      this.userEmail = this.trimText(this.userEmail);
      this.userPassword = this.trimText(this.userPassword);
      firebase.auth().createUserWithEmailAndPassword(this.userEmail, this.userPassword).then(() => {
        this.$notify({
          type: 'success',
          title: '註冊成功',
        });
        this.userEmail = '';
        this.userPassword = '';
        this.userNickname = '';
        console.log('註冊成功');
      }).catch((error) => {
        const errorMessage = error.message;
        console.log(errorMessage);
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: errorMessage,
        });
      });
    },
    googleLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider).then((result) => {
        const { user } = result;
        console.log('user:', user);
      }).catch((error) => {
        const errorMessage = error.message;
        console.log(errorMessage);
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: errorMessage,
        });
      });
    },
    changeStatus(status) {
      this.move = !this.move;
      this.status = status;
    },
  },
};
</script>

<style lang="scss" scoped>
.loginPage {
  background-color: rgb(172, 219, 219);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container{
    background-color: inherit;
    border-radius: 10px;
    overflow: hidden;
    .row{
      justify-content: center;
      align-items: center;
      .block{
        height: 450px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
          text-align: center;
          margin-bottom: 2rem;
        }
        .btnSubmit{
          font-weight: 600;
          width: 100px;
          color: #282726;
          background-color: #fff;
          border: none;
          border-radius: 50px;
          padding:10px;
          transition: all 0.3s;
        }
        .btnForgetPwd{
          font-weight: 600;
          text-decoration: none;
        }
        .form-group{
          margin: 20px;
        }
      }
      .whiteBackground{
        color: #282726;
        background-color: rgb(238, 238, 238);
        transition: all 0.7s;
        .btnGoogle{
          border-radius: 10px;
          border: #aaa solid 1px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 10px;
          .fa-google{
            font-size: 1.2rem;
          }
          &:hover {
            background-color: black;
            color: #fff;
            border: solid 1px black;
            cursor: pointer;
          }
        }
        .btnSubmit:hover {
          width: 120px;
          box-shadow: 0 0 5px #aaa;
          transition: all 0.3s;
        }
        .form-group{
          .form-control{
            border: none;
            background-color: transparent;
            border-bottom: #aaa solid 1px;
          }
        }
      }
      .colorBackground{
        color: #fff;
        background-color: teal;
        transition: all 0.7s;
        &:hover .btnSubmit{
          animation: shakeBtn 0.2s linear infinite alternate;
        }
        .btnForgetPwd{
          color: #fff;
        }
      }
      .moveWhiteBackground{
        transform: translateX(100%);
        transition: all 2s;
      }
      .moveColorBackground{
        transform: translateX(-100%);
        animation: changeBackground 2s ease-out;
        transition: all 1s;
      }
    }
  }
}

@keyframes changeBackground {
  0% { background-color: teal;}
  50% { background-color: rgba(0, 128, 128, 0.7);}
  100% { background-color: teal;}
}

@keyframes shakeBtn {
  0% { transform: rotate(10deg);}
  100% { transform: rotate(-10deg);}
}

@media screen and (max-width: 600px) {
  .loginPage{
    .container{
      width: 90%;
      .row{
        .whiteBackground{
          height: 550px;
        }
        .colorBackground{
          height: calc(90vh - 550px);
        }
        .moveWhiteBackground{
          transform: translateY(calc(90vh - 550px));
          transition: all 2s;
        }
        .moveColorBackground{
          transform: translateY(-550px);
          animation: changeBackground 2s ease-out;
          transition: all 1s;
        }
      }
    }
  }
}

</style>
