<template>
  <div class="userHomePage">
    <Navbar />
    <div class="row">
      <div class="ui-side-nav block">
        <Sidebar />
      </div>

      <div class="ui-content block">
        <div class="content">
          <!-- <ChatRoom /> -->
          <router-view />
        </div>
      </div>
    </div>
    <!-- <PersonalInfo /> -->
    <CreateChatroomModal />
    <UserInfoModal />
    <AddNewMembers />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Sidebar from '@/components/Sidebar.vue';
import CreateChatroomModal from '@/components/CreateChatroomModal.vue';
import UserInfoModal from '@/components/UserInfoModal.vue';
import AddNewMembers from '@/components/AddNewMembers.vue';

export default {
  components: {
    Navbar,
    Sidebar,
    CreateChatroomModal,
    UserInfoModal,
    AddNewMembers,
  },
  data() {
    return {
      windowWidth: window.innerWidth,
    };
  },
  computed: {
    sidebarActive() {
      return this.$store.state.sidebarActive;
    },
  },
  mounted() {
    if (this.windowWidth < 600) {
      this.$store.commit('updateSidebarActive', false);
    }
  },
  methods: {
    controlSidebar() {
      this.$store.commit('updateSidebarActive', !this.sidebarActive);
    },
  },
};
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
}
.row{
  flex-wrap: nowrap;
  overflow: hidden;
  .ui-side-nav {
    z-index: 3;
    box-shadow: 1px 0px 0px #aaa;
  }

  .ui-content{
    min-height: calc(100vh - 44px);
    min-width: calc(100% - 300px);
    width: 100%;
    z-index: 0;
    #overlay {
      display: none;
      position: fixed;
      width: 100vw;
      height: 100%;
      background: rgba(255, 255, 255, 0.603);
      z-index: 20;
      cursor: pointer;
    }
    #overlay.active {
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .row {
    .ui-content {
      flex-shrink:0;
      flex-grow:0;
      overflow: hidden;
    }
  }
}
</style>
