<template>
  <modal name="add-members-modal" transition="pop-out" :width="modalWidth" :focus-trap="true" @before-open="beforeOpen">
    <div class="box">
      <div class="partition">
        <div class="partition-title">
          輸入Email新增成員
        </div>
        <div class="partition-form">
          <form autocomplete="false">
            <input id="chatroom-name" v-model="memberEmail" type="text"
                   placeholder="請輸入Email" autocomplete="off" @keyup.enter="addMember"
            >
          </form>

          <div class="button-set">
            <button id="create-btn" @click="addMember">
              新增
            </button>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import firebase from 'firebase';

const MODAL_WIDTH = 300;

export default {
  components: {
  },
  data() {
    return {
      modalWidth: MODAL_WIDTH,
      memberEmail: '',
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    currentChatroom() {
      return this.$store.state.currentChatroom;
    },
    chatroomList() {
      return this.$store.state.chatroomList;
    },
  },
  created() {
    this.modalWidth = window.innerWidth < MODAL_WIDTH ? MODAL_WIDTH / 2 : MODAL_WIDTH;
  },
  methods: {
    beforeOpen() {
      this.memberEmail = '';
    },
    async addMember() {
      let otherUid = '';
      let hasEmail = false;
      let hasMember = false;
      const allUsers = [];
      const db = firebase.firestore();

      const ref = db.collection('users');
      const snapshot = await ref.get();

      snapshot.forEach((doc) => {
        console.log(doc.data());
        allUsers.push(doc.data());
      });
      allUsers.forEach((oneUser) => {
        if (oneUser.userInfo.email === this.memberEmail) {
          otherUid = oneUser.userInfo.uid;
          hasEmail = true;
        }
      });

      const memberList = Object.values(this.currentChatroom.roomMembers);
      console.log('memberList:', memberList);
      memberList.forEach((memberId) => {
        if (memberId === otherUid) {
          hasMember = true; // 表示存在
        }
      });

      if (hasEmail === true) {
        if (hasMember === false) {
          // 在對方的user的list上加入;
          const otherChatroomListRef = db.collection('users').doc(otherUid);
          otherChatroomListRef.update({
            userChatroomList: firebase.firestore.FieldValue.arrayUnion(this.currentChatroom.roomId),
          });

          // 加id進群組
          const roomMembersRef = `/chatroom/${this.currentChatroom.roomId}/Info/roomMembers`;
          firebase.database().ref(roomMembersRef).push(otherUid);

          // 同步到vuex(TODO)
          // chatroomList 應該也要用成on的型態讀取才對（TODO）
          this.$store.commit('updateChatroomList', this.chatroomList);

          this.$modal.hide('add-members-modal');

          this.$notify({
            type: 'success',
            title: '成功',
            text: '已新增成員',
          });
        } else {
          this.$notify({
            type: 'warn',
            title: '提示',
            text: '這位用戶已是群組內的成員',
          });
          this.$modal.hide('add-members-modal');
        }
      } else {
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: 'Email錯誤',
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.box {
  background: white;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .partition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px;
    .partition-title {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 30px;
    }
    .partition-form {
      box-sizing: border-box;
    }

    input[type='text'] {
      display: block;
      box-sizing: border-box;
      width: 100%;
      font-size: 1rem;
      line-height: 2;
      border: 0;
      border-bottom: 1px solid #dddedf;
      padding: 4px 8px;
      font-family: inherit;
      transition: 0.5s all;
      margin-bottom: 10px;

    }
    button {
      background: white;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      min-width: 140px;
      margin-top: 8px;
      color: #8b8c8d;
      cursor: pointer;
      border: 1px solid #dddedf;
      transition: 0.1s all;
      font-size: 1rem;
      &:hover {
        border-color: mix(#dddedf, black, 90%);
        color: mix(#8b8c8d, black, 80%);
      }
    }
  }
}
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}
.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(-24px);
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
</style>
