<template>
  <div class="chatRoom">
    <div class="chatRoom-name">
      <span v-if="currentChatroom.roomType === 'group'">{{ currentChatroom.roomName }}</span>
      <span v-if="currentChatroom.roomType === 'privte'">{{ makePrivteRoomName(currentChatroom) }}</span>
      <span v-if="currentChatroom.roomId !== 'lobby' && currentChatroom.roomType === 'group'"
            class="btnNewChatroom" @click.prevent="addMembers"
      >
        <i class="fas fa-plus" />
      </span>
    </div>
    <div id="overflow" class="chatRoom-content">
      <ul>
        <li v-for="(msg, index) in msgList" :key="index" :class="{'self': msg.email === user.email}">
          <div class="photo">
            <img :src="msg.photoURL" alt="" class="userImg" @click.prevent="checkUserInfo(msg)">
          </div>
          <div class="content">
            <p class="sendInfo">
              <span class="nickname">{{ msg.displayName }}</span>
            </p>
            <p class="msg">
              <img v-if="msg.pictureMsg !== ''" :src="msg.pictureMsg" alt="圖片" class="pictureMsg">
              {{ msg.text }}
              <span class="sendTime">{{ submitTimeFormat(msg.submitTime) }}</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="chatRoom-input">
      <textarea v-model="textMsg" placeholder="輸入訊息" @keyup.enter="sendMsg" @focus="controlSidebar" />
      <div class="btnSend">
        <input id="upload" type="file" @change="sendPic">
        <label for="upload"><i class="fas fa-image" /></label>
      </div>
      <div class="btnSend" @click.prevent="sendMsg">
        <i class="fas fa-paper-plane" />
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  data() {
    return {
      textMsg: '',
      msgList: [],
      storageRef: firebase.storage().ref(),
      windowWidth: window.innerWidth,
    };
  },
  computed: {
    currentChatroom() {
      return this.$store.state.currentChatroom;
    },
    user() {
      return this.$store.state.user;
    },
    chatroomList() {
      return this.$store.state.chatroomList;
    },
    isLoading() {
      return this.$store.state.isLoading;
    },
    sidebarActive() {
      return this.$store.state.sidebarActive;
    },
    loginTime() {
      return this.$store.state.loginTime;
    },
  },
  watch: {
    currentChatroom() {
      this.clearOn();
      this.msgList = [];
      this.getNewPost();
    },
  },
  mounted() {
    this.getNewPost();
    // this.getHistoryPost();
  },
  methods: {
    async makePrivteRoomName(chatroom) {
      let newRoomName = '';
      let otherId = '';
      const membersIdList = Object.values(chatroom.roomMembers);
      membersIdList.forEach((membersId) => {
        if (membersId !== this.user.uid) {
          otherId = membersId;
        }
      });

      const allUsers = [];
      const db = firebase.firestore();

      const ref = db.collection('users');
      const snapshot = await ref.get();

      snapshot.forEach((doc) => {
        allUsers.push(doc.data());
      });
      allUsers.forEach((oneUser) => {
        if (oneUser.userInfo.uid === otherId) {
          newRoomName = oneUser.userInfo.displayName;
        }
      });
      console.log('newRoomName:', newRoomName);
      return newRoomName;
    },
    addMembers() {
      this.$modal.show('add-members-modal');
    },
    trimTextMsg(textMsg) {
      const msg = textMsg.trim();
      if (!msg) {
        return msg;
      }
      return msg;
    },
    notify(text) {
      this.$notification.requestPermission()
        .then(() => {
          const notification = {
            title: this.currentChatroom.roomName,
            options: {
              body: text,
            },
            events: {
              onclick() {
                console.log('Custom show event was called');
              },
            },
          };
          this.$notification.show(notification.title, notification.options, notification.events);
        });
    },
    submitTimeFormat(timestamp) {
      const now = new Date(timestamp);
      const hour = now.getHours();
      let mins = now.getMinutes();
      if (mins < 10) {
        mins = `0${mins}`;
      }
      const result = `${hour}:${mins}`;
      return result;
    },
    sendMsg(event) {
      this.textMsg = this.trimTextMsg(this.textMsg);
      if (event.shiftKey === true && event.key === 'Enter') {
        console.log('換行');
        // this.textMsg + <br> + 下一行，目前顯示沒有真的換行
      } else if (this.textMsg !== '') {
        this.saveData('');
        console.log('sendMsg');
      }
    },
    sendPic(event) {
      this.$store.commit('updateIsLoading', true);
      const file = event.target.files[0];
      const timestamp = Date.now();
      const pictureMsgRef = `pictureMsg/${this.currentChatroom.roomId}/pictureMsg${timestamp}.jpg`;
      this.storageRef.child(pictureMsgRef).put(file).then(() => {
        console.log('Uploaded a blob or file!');
        this.storageRef.child(pictureMsgRef).getDownloadURL().then((url) => {
          this.saveData(url);
          console.log('sendMsg with picture');
          this.$store.commit('updateIsLoading', false);
        }).catch((error) => {
          console.log(error);
        });
      });
    },
    saveData(url) {
      const msgRoomRef = `/chatroom/${this.currentChatroom.roomId}/chatRecord`;
      const data = {
        email: this.user.email,
        photoURL: this.user.photoURL,
        displayName: this.user.displayName,
        text: this.textMsg,
        submitTime: Date.now(), // timestamp
        pictureMsg: url,
        uid: this.user.uid,
      };
      firebase.database().ref(msgRoomRef).push(data);
      this.textMsg = '';
    },
    getNewPost() {
      const msgRoomRef = `/chatroom/${this.currentChatroom.roomId}/chatRecord`;
      firebase.database().ref(msgRoomRef).on('child_added', (snapshot) => {
        const childData = snapshot.val();
        const data = {
          email: childData.email,
          photoURL: childData.photoURL,
          displayName: childData.displayName,
          text: childData.text,
          submitTime: childData.submitTime,
          pictureMsg: childData.pictureMsg,
          uid: childData.uid,
        };
        this.msgList.push(data);
        console.log('讀取訊息');

        const chatRoomContent = document.getElementById('overflow');
        if (data.submitTime > this.loginTime) {
          if (data.email === this.user.email) {
            this.$nextTick(() => {
              chatRoomContent.scrollTop = chatRoomContent.scrollHeight;
            });
          } else {
            this.notify(data.text);
            console.log('新訊息');
            this.$notify({
              type: 'success',
              title: '新訊息',
              text: data.text,
            });
          }
        }
      });
    },
    getHistoryPost() { // 沒用到
      const msgRoomRef = `/chatroom/${this.currentChatroom.roomId}/chatRecord`;
      firebase.database().ref(msgRoomRef).once('value')
        .then((snapshot) => {
          snapshot.forEach((item) => {
            const childData = item.val();
            const data = {
              email: childData.email,
              photoURL: childData.photoURL,
              displayName: childData.displayName,
              text: childData.text,
              submitTime: childData.submitTime,
              pictureMsg: childData.pictureMsg,
              uid: childData.uid,
            };
            this.msgList.push(data);
            const chatRoomContent = document.getElementById('overflow');
            if (data.email === this.user.email) {
              this.$nextTick(() => {
                chatRoomContent.scrollTop = chatRoomContent.scrollHeight;
              });
            }
          });
        })
        .catch((e) => console.log(e.message));
    },
    clearOn() {
      this.chatroomList.forEach((chatroom) => {
        const msgRoomRef = `/chatroom/${chatroom.roomId}/chatRecord`;
        firebase.database().ref(msgRoomRef).off();
      });
    },
    checkUserInfo(msg) {
      this.$modal.show('user-info-modal');
      console.log(msg);
      this.$store.commit('updateMsgUserInfo', msg);
    },
    controlSidebar() {
      if (this.windowWidth < 600) {
        this.$store.commit('updateSidebarActive', false);
      }
    },
  },
};
</script>

<style lang="scss" scoped>

$dark: rgb(26,34,45);
$light: rgb(92,121,145);
$middle: rgb(35,48,62);

$messageTextColor: white;

.chatRoom{
  color: $messageTextColor;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .chatRoom-name{
    background-color: $middle;
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    .btnNewChatroom{
      text-align: center;
      float: right;
      width: 20px;
      height: 20px;
      font-size: 1rem;
      &:hover{
        color: #777;
        cursor: pointer;
      }
    }
  }
  .chatRoom-content{
    background-color: $dark;
    height: calc(100vh - 40px - 6.5rem);
    width: 100%;
    overflow: auto;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        width: 50%;
        margin: 10px;
        text-align: left;
        display: flex;
        .photo{
          flex: 10%;
          img.userImg{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .content{
          flex: 90%;
          .sendInfo{
            margin: 0;
            padding: 0 5px;
            display: flex;
            font-size: 0.5rem;
            justify-content: space-between;
            align-items: flex-end;
            .nickname{
              color: $messageTextColor;
            }
          }
          .msg{
            position: relative;
            background-color: $middle;
            color: $messageTextColor;
            border-radius: 20px;
            width: 100%;
            margin: 0;
            padding: 5px 10px;
            .pictureMsg{
              width: 100%;
              height: auto;
              padding-top: 10px;
            }
            .sendTime{
              font-size: 0.5rem;
              color: #999;
              width: 40px;
              position: absolute;
              text-align: center;
              bottom: 0;
              right: -40px;
            }
          }
        }
      }
      .self{
        margin-left: auto;
        .photo{
          display: none;
        }
        .content{
          .sendInfo{
            flex-direction: row-reverse;
          }
          .msg{
            background-color: $light;
            .sendTime{
              left: -40px;
            }
          }
        }
      }
    }

  }
  .chatRoom-input{
    background-color: $middle;
    border-top: 1px solid #aaa;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    textarea{
      background-color: transparent;
      color: $messageTextColor;
      width: 90%;
      height: 100%;
      resize:none;
      border: none;
      padding: 10px;
      border-radius: 0;
      &:focus{
        outline: none;
      }
    }
    .btnSend{
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      input[type="file"] {
        display:none;
      }
      i, label{
        font-size: 2rem;
        color: $light;
        margin: 0;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 1px;
}

</style>
