<template>
  <modal name="create-chatroom-modal" transition="pop-out" :width="modalWidth" :focus-trap="true" @before-open="beforeOpen">
    <div class="box">
      <div class="partition">
        <div class="partition-title">
          創建聊天室
        </div>
        <div class="partition-form">
          <form autocomplete="false">
            <input id="chatroom-name" v-model="chatroomName" type="text"
                   placeholder="聊天室名稱" autocomplete="off" @keyup.enter="createChatroom"
            >
          </form>
          <p class="remind">
            {{ remind }}
          </p>

          <div class="button-set">
            <button id="create-btn" @click="createChatroom">
              創建
            </button>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import firebase from 'firebase';

const MODAL_WIDTH = 300;

export default {
  components: {
  },
  data() {
    return {
      modalWidth: MODAL_WIDTH,
      chatroomName: '',
      remind: '',
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    currentChatroom() {
      return this.$store.state.currentChatroom;
    },
    chatroomList() {
      return this.$store.state.chatroomList;
    },
  },
  created() {
    this.modalWidth = window.innerWidth < MODAL_WIDTH ? MODAL_WIDTH / 2 : MODAL_WIDTH;
  },
  methods: {
    beforeOpen() {
      this.chatroomName = '';
      this.remind = '';
    },
    createChatroom() {
      const regex = /^[^\s_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$/g;
      if (this.chatroomName.search(regex) === 0) {
        const newRoomId = Date.now();
        const newRoom = {
          roomName: this.chatroomName,
          roomId: newRoomId,
          roomMembers: [this.user.uid],
          roomType: 'group',
        };

        const roomNameRef = `/chatroom/${newRoomId}/Info`;
        firebase.database().ref(roomNameRef).set(newRoom);

        this.chatroomList.push(newRoom);
        this.$store.commit('updateChatroomList', this.chatroomList);

        const db = firebase.firestore();
        const userChatroomListRef = db.collection('users').doc(this.user.uid);
        userChatroomListRef.update({
          userChatroomList: firebase.firestore.FieldValue.arrayUnion(newRoomId),
        });

        this.$modal.hide('create-chatroom-modal');
      } else {
        this.remind = '至少兩個字以上，不允許任何空白、特殊符號';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.box {
  background: white;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .partition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px;
    .partition-title {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 30px;
    }
    .partition-form {
      box-sizing: border-box;
      .remind{
        margin: 0;
        padding: 0;
        color: rgb(206, 0, 0);
        font-size: 0.5rem;
        margin-bottom: 10px;
      }
    }

    input[type='text'] {
      display: block;
      box-sizing: border-box;
      width: 100%;
      font-size: 1rem;
      line-height: 2;
      border: 0;
      border-bottom: 1px solid #dddedf;
      padding: 4px 8px;
      font-family: inherit;
      transition: 0.5s all;
      margin-bottom: 10px;

    }
    button {
      background: white;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      min-width: 140px;
      margin-top: 8px;
      color: #8b8c8d;
      cursor: pointer;
      border: 1px solid #dddedf;
      transition: 0.1s all;
      font-size: 1rem;
      &:hover {
        border-color: mix(#dddedf, black, 90%);
        color: mix(#8b8c8d, black, 80%);
      }
    }
  }
}
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}
.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(-24px);
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
</style>
