<template>
  <div class="theNav">
    <div id="nav">
      <div class="controlBtn" @click.prevent="controlSidebar">
        <i class="fas fa-bars" />
      </div>
      <b-dropdown id="account-dropdown" right variant="light" no-caret>
        <template v-slot:button-content>
          <b-avatar v-if="!user.photoURL" size="1.5rem" />
          <span v-if="user.photoURL" class="userPhoto">
            <img :src="user.photoURL" alt="userPhoto">
          </span>
          <i class="fas fa-sort-down ml-2" />
        </template>
        <b-dropdown-item @click.prevent="checkPersonalInfo">
          目前登入為<span class="displayName">{{ user.displayName }}</span>
        </b-dropdown-item>
        <b-dropdown-divider />
        <b-dropdown-item @click.prevent="signOut">
          <a> Sign Out </a>
        </b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  computed: {
    user() {
      return this.$store.state.user;
    },
    sidebarActive() {
      return this.$store.state.sidebarActive;
    },
  },
  methods: {
    signOut() {
      firebase.auth().signOut().then(() => {
        const user = firebase.auth().currentUser;
        if (user) {
          console.log('登出失敗');
        } else {
          console.log('成功登出');
          const data = {
            roomName: '聊天大廳',
            roomId: 'lobby',
            roomMembers: [],
            roomType: 'group',
          };
          const chatroomList = [];
          this.$store.commit('updateCurrentChatroom', data);
          this.$store.commit('updateChatroomList', chatroomList);
        }
      }).catch((error) => {
        const errorMessage = error.message;
        console.log(errorMessage);
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: errorMessage,
        });
      });
    },
    controlSidebar() {
      this.$store.commit('updateSidebarActive', !this.sidebarActive);
    },
    checkPersonalInfo() {
      const currentChatroom = { roomName: '', roomId: '', roomMembers: [] };
      this.$store.commit('updateCurrentChatroom', currentChatroom);
      this.$router.push('/userHomePage/personalInfo');
    },
  },
};
</script>

<style scoped lang="scss">

.theNav{
  #nav {
    background-color: rgba(35, 48, 62, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
    .controlBtn{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      i{
        font-size: 1.5rem;
      }
      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
    button {
      .userPhoto{
        img{
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
      .displayName{
        background-color: blanchedalmond;
        padding: 3px 10px;
        border-radius: 10px;
        margin-left: 10px;
      }
    }
  }
}
</style>
