<template>
  <div class="personalInfo">
    <div class="container">
      <h2>用戶資料</h2>
      <div class="row">
        <div class="photo col-sm-3">
          <div class="userPhotoURL">
            <img :src="user.photoURL" alt="">
            <label for="userPhotoURL">
              <i class="fas fa-camera" />
              <input id="userPhotoURL" type="file" style="display: none;" @change="sendPic">
            </label>
          </div>
        </div>
        <div class="info col-sm-9">
          <div class="inputGroup">
            <label for="userEmail">用戶信箱</label>
            <input v-model="user.email" type="text" disabled>
          </div>
          <div class="inputGroup">
            <label for="userDisplayName">用戶名稱
              <span v-if="lock === true" @click="lock = false">修改</span>
              <span v-if="lock === false" @click="updateDisplayName(user.displayName)">完成</span>
            </label>
            <input v-model="user.displayName" type="text" :disabled="lock">
          </div>
          <div class="inputGroup">
            <label for="userUid">用戶uid</label>
            <input v-model="user.uid" type="text" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  components: {
  },
  data() {
    return {
      lock: true,
      storageRef: firebase.storage().ref(),
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  watch() {
  },
  methods: {
    sendPic(event) {
      this.$store.commit('updateIsLoading', true);
      const file = event.target.files[0];
      this.user.photoURL = file;
      const pictureRef = `user/${this.user.id}/photoURL.jpg`;
      this.storageRef.child(pictureRef).put(file).then(() => {
        console.log('Uploaded a blob or file!');
        this.storageRef.child(pictureRef).getDownloadURL().then((url) => {
          this.updatePhotoURL(url);
          this.$store.commit('updateIsLoading', false);
        }).catch((errorMessage) => {
          this.$notify({
            type: 'error',
            title: '錯誤',
            text: errorMessage,
          });
        });
      });
    },
    updatePhotoURL(url) {
      this.user.updateProfile({
        photoURL: url,
      }).then(() => {
        this.$notify({
          type: 'success',
          title: '更新成功，請重整畫面',
        });
      }).catch((errorMessage) => {
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: errorMessage,
        });
      });
    },
    updateDisplayName(name) {
      this.user.updateProfile({
        displayName: name,
      }).then(() => {
        this.lock = true;
        this.$notify({
          type: 'success',
          title: '更新成功',
        });
      }).catch((errorMessage) => {
        this.$notify({
          type: 'error',
          title: '錯誤',
          text: errorMessage,
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.personalInfo{
  background-color: rgb(238, 238, 238);
  height: calc(100vh - 40px);
  width: 100%;
  .container{
    h2{
      padding: 20px;
      font-weight: bold;
    }
    .row{
      justify-content: center;
      align-content: center;
      .photo{
        margin-bottom: 20px;
        .userPhotoURL{
          position: relative;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          overflow: hidden;
          margin: auto;
          img{
            width: 100%;
            height: 100%;
          }
          label{
            position: absolute;
            left: 0;
            bottom: -100%;
            width: 100px;
            margin: 0;
            color: #777;
            font-weight: bold;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.7);
            transition: all 1s;
          }
          &:hover label{
            cursor: pointer;
            bottom: 0;
            transition: all 0.3s;
          }
        }
      }
      .info{
        .inputGroup{
          margin-bottom: 20px;
          label{
            width: 100%;
            margin-bottom: 5px;
            text-align: left;
            font-weight: bold;
            span{
              // background-color: #fff;
              border: solid #aaa 1px;
              border-radius: 10px;
              padding: 1px 4px;
              &:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.04);
              }
            }
          }
          input{
            width: 100%;
          }
        }
      }

    }
  }
}

</style>
