<template>
  <div class="sidebar" :class="{'show': sidebarActive}">
    <div class="title">
      聊天室
      <span class="btnNewChatroom" @click.prevent="addNewChatroom"><i class="fas fa-plus" /></span>
    </div>
    <div class="chatroomList">
      <li v-for="(theChatroom, key) in chatroomList" :key="key">
        <button :class="{'active': currentChatroom.roomId === theChatroom.roomId }" class="btn" @click.prevent="chooseChatroom(theChatroom)">
          <span v-if="theChatroom.roomType === 'group'">{{ theChatroom.roomName }}</span>
          <span v-if="theChatroom.roomType === 'privte'">{{ makePrivteRoomName(theChatroom) }}</span>
          <span v-if="theChatroom.roomType === 'group'">
            ({{ Object.keys(theChatroom.roomMembers).length }})
          </span>
        </button>
      </li>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    currentChatroom() {
      return this.$store.state.currentChatroom;
    },
    chatroomList() {
      return this.$store.state.chatroomList;
    },
    sidebarActive() {
      return this.$store.state.sidebarActive;
    },
  },
  methods: {
    chooseChatroom(theChatroom) {
      this.$router.push('/userHomePage');
      this.$store.commit('updateCurrentChatroom', theChatroom);
    },
    addNewChatroom() {
      this.$modal.show('create-chatroom-modal');
    },
    controlSidebar() {
      this.$store.commit('updateSidebarActive', !this.sidebarActive);
    },
    async makePrivteRoomName(chatroom) {
      let newRoomName = '';
      let otherId = '';
      const membersIdList = Object.values(chatroom.roomMembers);
      membersIdList.forEach((membersId) => {
        if (membersId !== this.user.uid) {
          otherId = membersId;
        }
      });

      const allUsers = [];
      const db = firebase.firestore();

      const ref = db.collection('users');
      const snapshot = await ref.get();

      snapshot.forEach((doc) => {
        console.log(doc.data());
        allUsers.push(doc.data());
      });
      allUsers.forEach((oneUser) => {
        if (oneUser.userInfo.uid === otherId) {
          newRoomName = oneUser.userInfo.displayName;
        }
      });
      console.log('newRoomName:', newRoomName);
      return newRoomName;
    },
  },
};
</script>

<style lang="scss" scoped>
$dark: rgb(26,34,45);
$light: rgb(92,121,145);
$middle: rgb(35,48,62);

.sidebar{
  background-color: $dark;
  height: calc(100vh - 40px);
  width: 300px;
  margin-left: -300px;
  transition: all 0.5s ease;
  color: #fff;
  .title{
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    border-bottom: solid 1px $middle;
    text-align: left;
    padding: 0 10px;
    .btnNewChatroom{
      text-align: center;
      float: right;
      width: 20px;
      height: 20px;
      font-size: 1rem;
      &:hover{
        color: #777;
        cursor: pointer;
      }
    }
  }
  .chatroomList{
    li{
      list-style-type: none;
      border-bottom: solid 1px $middle;
      .btn{
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        color: #fff;
        border-radius: 0;
        &:hover{
          background-color: $light;
        }
        &:focus{
          box-shadow: none;
        }
      }
    }
  }
  .active{
    background-color: $light;
  }
}
.show{
  margin-left: 0;
  transition: all 0.5s ease;
}

</style>
