<template>
  <modal name="user-info-modal" transition="pop-out" :width="modalWidth" :focus-trap="true" @before-open="beforeOpen">
    <div class="box">
      <div class="partition">
        <div class="partition-title">
          <div class="photo">
            <img :src="msgUserInfo.photoURL" alt="" class="userImg">
          </div>
          <h2>{{ msgUserInfo.displayName }}</h2>
          <p>{{ msgUserInfo.email }}</p>
        </div>
        <div class="partition-form">
          <div class="button-set">
            <button id="create-btn" @click="createPrivteRoom">
              聊天
            </button>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import firebase from 'firebase';

const MODAL_WIDTH = 300;

export default {
  components: {
  },
  data() {
    return {
      modalWidth: MODAL_WIDTH,
    };
  },
  computed: {
    msgUserInfo() {
      return this.$store.state.msgUserInfo;
    },
    chatroomList() {
      return this.$store.state.chatroomList;
    },
    user() {
      return this.$store.state.user;
    },
  },
  created() {
    this.modalWidth = window.innerWidth < MODAL_WIDTH ? MODAL_WIDTH / 2 : MODAL_WIDTH;
  },
  methods: {
    beforeOpen() {
    },
    createPrivteRoom() {
      const myUid = this.user.uid;
      const otherUid = this.msgUserInfo.uid;
      let newRoomId = '';
      if (myUid > otherUid) {
        newRoomId = myUid + otherUid;
      }
      if (myUid < otherUid) {
        newRoomId = otherUid + myUid;
      }
      console.log(newRoomId);
      const privteRoom = {
        roomName: this.msgUserInfo.displayName,
        roomId: newRoomId,
        roomMembers: [this.user.uid, this.msgUserInfo.uid],
        roomType: 'privte',
      };

      let hasRoom = false;
      this.chatroomList.forEach((room) => {
        if (room.roomId === privteRoom.roomId) {
          hasRoom = true;
        }
      });

      console.log('hasRoom:', hasRoom);

      if (hasRoom === false) { // 如果他沒有房間，就幫他創一個新的
        // 創一個在全體的位置
        const roomNameRef = `/chatroom/${newRoomId}/Info`;
        firebase.database().ref(roomNameRef).set(privteRoom);

        // 把創好的Info傳到list，同步到vuex
        this.chatroomList.push(privteRoom);
        this.$store.commit('updateChatroomList', this.chatroomList);

        // 也同步在user的list上加入;(自己的)
        const db = firebase.firestore();
        const myChatroomListRef = db.collection('users').doc(this.user.uid);
        myChatroomListRef.update({
          userChatroomList: firebase.firestore.FieldValue.arrayUnion(privteRoom.roomId),
        });

        // 也同步在user的list上加入;(對方的)
        const otherChatroomListRef = db.collection('users').doc(this.msgUserInfo.uid);
        otherChatroomListRef.update({
          userChatroomList: firebase.firestore.FieldValue.arrayUnion(privteRoom.roomId),
        });
      }
      // 然後直接去到新房間
      this.$store.commit('updateCurrentChatroom', privteRoom);
      this.$modal.hide('user-info-modal');
    },
  },
};
</script>

<style lang="scss" scoped>
.box {
  background: white;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  font-size: 0;
  .partition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px;
    .partition-title {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 300;
      .photo{
        margin: 10px;
        img.userImg{
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      h2{
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
      p{
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
    button {
      background: white;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      min-width: 140px;
      margin-top: 8px;
      color: #8b8c8d;
      cursor: pointer;
      border: 1px solid #dddedf;
      transition: 0.1s all;
      font-size: 1rem;
      &:hover {
        border-color: mix(#dddedf, black, 90%);
        color: mix(#8b8c8d, black, 80%);
      }
    }
  }
}
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}
.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(-24px);
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
</style>
