<template>
  <div id="app">
    <Loading :active.sync="$store.state.isLoading" />
    <router-view />
    <notifications position="bottom center" />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
